In [1]:
import pandas as pd
from langdetect import detect
pd.set_option('display.max_columns', None)

In [2]:
filepath = './data/BeerAdvocate/'

In [3]:
beers = pd.read_csv(filepath + 'beers.csv')
beers.head(3)

,beer_id,beer_name,brewery_id,brewery_name,style,nbr_ratings,nbr_reviews,avg,ba_score,bros_score,abv,avg_computed,zscore,nbr_matched_valid_ratings,avg_matched_valid_ratings
0,166064,Nashe Moskovskoe,39912,Abdysh-Ata (Абдыш Ата),Euro Pale Lager,0,0,NaN,NaN,NaN,4.7,NaN,NaN,0,NaN
1,166065,Nashe Pivovskoe,39912,Abdysh-Ata (Абдыш Ата),Euro Pale Lager,0,0,NaN,NaN,NaN,3.8,NaN,NaN,0,NaN
2,166066,Nashe Shakhterskoe,39912,Abdysh-Ata (Абдыш Ата),Euro Pale Lager,0,0,NaN,NaN,NaN,4.8,NaN,NaN,0,NaN

In [4]:
reviews = pd.read_csv(filepath + 'reviews.csv')
reviews.head(3)

,beer_name,beer_id,brewery_name,brewery_id,style,abv,date,user_name,user_id,appearance,aroma,palate,taste,overall,rating,text
0,Régab,142544,Societe des Brasseries du Gabon (SOBRAGA),37262,Euro Pale Lager,4.5,1440064800,nmann08,nmann08.184925,3.25,2.75,3.25,2.75,3.0,2.88,"From a bottle, pours a piss yellow color with ..."
1,Barelegs Brew,19590,Strangford Lough Brewing Company Ltd,10093,English Pale Ale,4.5,1235127600,StJamesGate,stjamesgate.163714,3.00,3.50,3.50,4.00,3.5,3.67,Pours pale copper with a thin head that quickl...
2,Barelegs Brew,19590,Strangford Lough Brewing Company Ltd,10093,English Pale Ale,4.5,1142247600,mdagnew,mdagnew.19527,4.00,3.50,3.50,4.00,3.5,3.73,"500ml Bottle bought from The Vintage, Antrim....."

In [5]:
breweries = pd.read_csv(filepath + 'breweries.csv')
breweries.head(3)

      id    location                    name  nbr_beers
0  39912  Kyrgyzstan  Abdysh-Ata (Абдыш Ата)          5
1  39913  Kyrgyzstan             Arpa (АРПА)          1
2  39914  Kyrgyzstan               Bear Beer          4

In [6]:
users = pd.read_csv(filepath + 'users.csv')
users.head(3)

,nbr_ratings,nbr_reviews,user_id,user_name,joined,location
0,7820,465,nmann08.184925,nmann08,1.199704e+09,"United States, Washington"
1,2521,2504,stjamesgate.163714,StJamesGate,1.191838e+09,"United States, New York"
2,1797,1143,mdagnew.19527,mdagnew,1.116410e+09,Northern Ireland

In [7]:
# rename columns of users to have user_ prefix
users.rename(columns={'nbr_ratings':'user_nbr_ratings', 
                      'nbr_reviews':'user_nbr_reviews', 
                      'joined':'user_joined', 
                      'location':'user_location'}, inplace=True)

# Merge dfs
reviews_users = pd.merge(reviews, users, how='left', on=['user_id', 'user_name'])

# Drop NaN values
reviews_users.dropna(inplace=True)

print('We have {} valid reviews.'.format(reviews_users.shape[0]))

We have 2400932 valid reviews.

In [8]:
#rename the columns of beers to contain beer_ prefix
beers.rename(columns={'nbr_ratings':'beer_nbr_ratings', 
                      'nbr_reviews':'beer_nbr_reviews', 
                      'ba_score':'beer_ba_score', 
                      'bros_score':'beer_bros_score', 
                      'avg':'beer_avg',
                      'avg_computed':'beer_avg_computed',
                      'zscore':'beer_zscore',}, 
             inplace=True)

# merge reviews with some columns of beers
reviews_users_beers = pd.merge(reviews_users, beers[['beer_id', 'beer_name','beer_nbr_ratings', 'beer_nbr_reviews', 'beer_ba_score', 'beer_avg']], 
                               how='left', 
                               on=['beer_id', 'beer_name'])

# drop NaN from reviews_users_beers
reviews_users_beers.dropna(inplace=True)

print('We have {} valid reviews'.format(reviews_users_beers.shape[0]))

We have 2258373 valid reviews

In [9]:
# rename columns of breweries to contain brewery_ prefix
breweries.rename(columns={'id':'brewery_id', 
                          'location':'brewery_location',
                          'name':'brewery_name',
                          'nbr_beers':'brewery_nbr_beers',
                          }, 
                 inplace=True)

# merge reviews with breweries
reviews_users_beers_breweries = pd.merge(reviews_users_beers, breweries, 
                               how='left', 
                               on=['brewery_id', 'brewery_name'])

# drop NaN from reviews_users_beers_breweries
reviews_users_beers_breweries.dropna(inplace=True)

print('We have {} valid reviews'.format(reviews_users_beers_breweries.shape[0]))

We have 2174716 valid reviews

In [10]:
reviews_users_beers_breweries.sample(10)

,beer_name,beer_id,brewery_name,brewery_id,style,abv,date,user_name,user_id,appearance,aroma,palate,taste,overall,rating,text,user_nbr_ratings,user_nbr_reviews,user_joined,user_location,beer_nbr_ratings,beer_nbr_reviews,beer_ba_score,beer_avg,brewery_location,brewery_nbr_beers
1400656,The Corruption,69290,DC Brau Brewing Co.,25327,American IPA,6.5,1390215600,Birdmarg741,birdmarg741.732152,3.50,4.25,3.5,4.25,4.25,4.13,Poured into an IPA glass from a growler. Enjoy...,51,25,1.368266e+09,"United States, Maryland",1227.0,204.0,87.0,3.86,"United States, New York",105.0
1055954,Iniquity (Imperial Black Ale),47228,Southern Tier Brewing Company,3818,American Black Ale,9.0,1406282400,arlo19,arlo19.290697,4.00,4.50,5.0,4.50,4.50,4.52,Poured from bottle into DFH signature glass.Ar...,89,53,1.232708e+09,"United States, Kentucky",1525.0,616.0,91.0,4.09,"United States, New York",145.0
1135707,Salvation,4072,Avery Brewing Company,30,Belgian Strong Pale Ale,9.0,1201345200,PittBeerGirl,pittbeergirl.124854,4.00,3.50,4.0,3.50,3.50,3.58,A- This golden-style ale has a body that is tr...,1661,991,1.172574e+09,"United States, Ohio",1056.0,532.0,86.0,3.82,"United States, Colorado",306.0
1996578,Barrel-Aged Legion,148388,Community Beer Company,30949,Russian Imperial Stout,11.6,1429351200,TBoneJones,tbonejones.417580,4.50,4.50,4.5,4.50,4.50,4.50,"Looks great in my stout glass , black rich bod...",504,472,1.263899e+09,"United States, Texas",375.0,56.0,96.0,4.38,"United States, Texas",47.0
2146689,Chimay Tripel (White),1346,Bières de Chimay,215,Tripel,8.0,1279879200,xylophonica,xylophonica.451237,3.50,4.00,4.0,4.00,4.00,3.97,Poured from a 75cl bottle into a tulip.A - Mur...,169,169,1.271844e+09,Australia,4415.0,1663.0,91.0,4.09,Belgium,9.0
2045571,Fist City,123355,Revolution Brewing,22072,American Pale Ale (APA),5.5,1432202400,GOBLIN,goblin.721414,4.00,4.00,4.0,3.75,3.75,3.85,A really good pale that has all the right thin...,1093,455,1.362308e+09,"United States, Ohio",672.0,89.0,91.0,4.09,"United States, Illinois",255.0
2150048,Special Block 6,30074,Brouwerij De Block bvba,2789,Belgian Pale Ale,6.0,1145700000,truthbrew,truthbrew.950,3.50,4.00,3.0,3.50,4.50,3.77,"Enjoyed 4/20/06 from a 33cl bottle, best befor...",50,49,1.036062e+09,"United States, Minnesota",33.0,31.0,81.0,3.42,Belgium,7.0
1276671,Helios (V Saison),47776,Victory Brewing Company - Downingtown,345,Saison / Farmhouse Ale,7.5,1390647600,stercomm,stercomm.321187,3.50,3.75,3.5,3.75,3.75,3.71,Poured from a bomber into a nice tulip glassA-...,179,175,1.239962e+09,"United States, Ohio",1091.0,452.0,86.0,3.85,"United States, Pennsylvania",317.0
504293,The Waldos' Special Ale,68269,Lagunitas Brewing Company,220,American Double / Imperial IPA,11.5,1398506400,raynmoon,raynmoon.615902,4.75,4.25,4.5,4.50,4.50,4.46,"A: clear golden, slightly on the lighter end o...",370,269,1.313230e+09,"United States, Colorado",1989.0,456.0,96.0,4.32,"United States, California",278.0
921102,Harpoon ESB,308,Harpoon Brewery & Beer Hall,98,Extra Special / Strong Bitter (ESB),5.5,1045047600,Bunnyhop,bunnyhop.867,4.00,3.50,3.5,4.00,4.00,3.83,"A clear, amber ESB with a large, creamy, tan h...",101,101,1.034071e+09,"United States, Georgia",36.0,26.0,84.0,3.69,"United States, Massachusetts",291.0

In [13]:
# Save to csv
reviews_users_beers_breweries.to_csv(filepath + 'BeerAdvocateMerged.csv', index=False)

### Language detection

In [12]:
# detect language of reviews in BeerAdvocate
## must sample because langdetect takes too long to run on all reviews

# reviews_ba_sample = reviews_ba.sample(n=5000, random_state=46)
# reviews_ba_sample['detected_language'] = reviews_ba_sample['text'].apply(lambda x: detect(x) if isinstance(x, str) else '')

# # show the percentage of reviews in each language
# reviews_ba_sample['detected_language'].value_counts(normalize=True)